# set operation

In [1]:
set={1,2,3,4}# Set of numbers.
set

{1, 2, 3, 4}

In [2]:
len(set) #Length of set.

4

In [3]:
my_set={1,1,2,2,3,3,4,4,5,5} #sets are not allowed duplicate values.
my_set

{1, 2, 3, 4, 5}

In [4]:
set1={2.34,1.12,2.13,3.14,4.12}
set1

{1.12, 2.13, 2.34, 3.14, 4.12}

In [5]:
set2={'John','David','Daniel'}
set2

{'Daniel', 'David', 'John'}

In [ ]:
set3={1,2,3,'john','david',(10,20,30),"Sravanthi"} #set takes mixed data types 
set3

In [ ]:
myset3 = {10,20, "Hola", [11, 22, 32]} # set doesn't allow mutable items like li
myset3

In [ ]:
set4=set()

In [ ]:
yset4=set()
print(type(myset4))

In [ ]:
set5=set(('one','two','three'))
set5

In [ ]:
myset4= set()
print(type(myset))

In [ ]:
myset4 = set()              # Create an empty set
myset4

# loop through a set

In [15]:
my_set1={'one','two','three','four','five'}
for i in my_set1:
    print(i)

three
one
five
four
two

In [16]:
for i in enumerate(my_set1):
    print(i)

(0, 'three')
(1, 'one')
(2, 'five')
(3, 'four')
(4, 'two')

# set membership

In [17]:
my_set1

{'five', 'four', 'one', 'three', 'two'}

In [18]:
'one' in my_set1

True

In [19]:
'ten' in my_set1

False

In [21]:
if 'five' in my_set1:
    print("five is there in myset")
else:
    print("five is not present in my list")

five is there in myset

In [22]:
if 'nine' in my_set1:
    print("present in myset")
else:
    print("not present in my set")

not present in my set

# add & remove items

In [25]:
my_set1.add('six')

In [26]:
my_set1

{'five', 'four', 'one', 'six', 'three', 'two'}

In [27]:
my_set1.update(['seven','eight','nine'])
my_set1

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [28]:
my_set1.remove('nine')
my_set1

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [29]:
my_set1.discard('eight')
my_set1

{'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [30]:
my_set1.clear()
my_set1

set()

In [31]:
del my_set1
my_set1

NameError: name 'my_set1' is not defined

# copy set

In [32]:
myset = {'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight'} 
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [33]:
myset1=myset
myset1

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [ ]:
print(len(set))

In [34]:
id(myset), id(myset1)

(2345321677984, 2345321677984)

In [35]:
myset2=myset.copy()
myset2

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [36]:
id(myset2)

2345321677536

In [37]:
myset.add('nine')

In [38]:
myset

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [39]:
myset1 # myset1 will be also impacted as it is pointing to the same Set

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [40]:
myset2 # Copy of the set won't be impacted due to changes made on the original S

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

# set operation

In [41]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}
C = {8,9,10}

In [42]:
A|B # IT DOESN'T GIVE DUPLICATE VALUES

{1, 2, 3, 4, 5, 6, 7, 8}

In [43]:
B|C

{4, 5, 6, 7, 8, 9, 10}

In [44]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [45]:
A.union(B,C)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [46]:
A.update(B,C)

In [47]:
A

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
a={1,2,3,4,5}
b={6,7,8,9,10}
c={11,12,13,14,15}
type(a)

In [ ]:
a|b

In [ ]:
b|c

In [ ]:
a.union(b)

In [ ]:
b.union(a,c)

In [ ]:
a1={'a','b'}
a2={'c','d'}
a1.union(a2)

In [ ]:
c.update(b)

In [ ]:
c

In [ ]:
len(c)

# Intersection

In [49]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [50]:
A & B

{4, 5}

In [51]:
A.intersection(B)

{4, 5}

In [52]:
A.intersection_update(B)

In [53]:
A

{4, 5}

In [ ]:
c.intersection(b)

In [ ]:
C.intersection(A)

In [ ]:
A={1,2,3,4}
B={3,4,5,6}
C={5,6,7,8}
C.intersection(A)

In [ ]:
A&B

In [ ]:
A.intersection_update(B)

In [ ]:
a.intersection_update(b)

# Difference

In [55]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [56]:
A-B # set of elements that are only in A but not in B

{1, 2, 3}

In [57]:
A.difference(B)

{1, 2, 3}

In [58]:
B-A

{6, 7, 8}

In [60]:
B.difference_update(A)

In [61]:
B

{6, 7, 8}

# symmetric difference

In [62]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [63]:
A^B # Symmetric difference (Set of elements in A and B but not in both. "EXCLU

{1, 2, 3, 6, 7, 8}

In [64]:
B^A

{1, 2, 3, 6, 7, 8}

In [65]:
A.symmetric_difference(B)

{1, 2, 3, 6, 7, 8}

In [66]:
A.symmetric_difference_update(B)

In [68]:
A

{1, 2, 3, 6, 7, 8}

# Superset subset &disjoint

In [69]:
A = {1,2,3,4,5,6,7,8,9}
B = {3,4,5,6,7,8}
C = {10,20,30,40}

In [70]:
B.issubset(A)

True

In [71]:
A.issuperset(B)

True

In [72]:
C.isdisjoint(A)

True

In [73]:
B.isdisjoint(A)

False

In [74]:
A

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [75]:
sum(A)

45

In [76]:
max(A)

9

In [77]:
min(A)

1

In [78]:
len(A)

9

In [79]:
list(enumerate(A))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5), (5, 6), (6, 7), (7, 8), (8, 9)]

In [80]:
D=sorted(A,reverse=True)

In [81]:
D

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [82]:
sorted(D)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# Dictionary

In [83]:
mydict=dict()
mydict

{}

In [84]:
mydict={}
mydict

{}

In [85]:
mydict=({1:'one',2:'two',3:'three',4:'four'})
mydict

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}