In [4]:
tuple1=()

In [2]:
tuple creation

SyntaxError: invalid syntax (2302079535.py, line 1)

In [ ]:
tuple1

In [5]:
tup2=(10,20,30,)
tup2

(10, 20, 30)

In [6]:
tup3=(40,50,60)

In [7]:
tup3

(40, 50, 60)

In [8]:
tup4=("one","two","three")
tup4

('one', 'two', 'three')

In [9]:
tup5=(1.45,2.44,3.55,4.55)
tup5

(1.45, 2.44, 3.55, 4.55)

In [10]:
tup6=("john ",'job',(1,2,3,4),(2.34,23.4,3.45))
tup6

('john ', 'job', (1, 2, 3, 4), (2.34, 23.4, 3.45))

In [11]:
tup7=(1,2,3,4,5,1.34,2.45,3.45,'nit','john')
tup7

(1, 2, 3, 4, 5, 1.34, 2.45, 3.45, 'nit', 'john')

In [12]:
tup8=(2,3,4,5,6,7)
tup8[0]=1
tup8 #'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

In [13]:
tup9=('asif',25,[20,30,40],[20,30],{'john','david'},(99,90,98))
tup9

('asif', 25, [20, 30, 40], [20, 30], {'david', 'john'}, (99, 90, 98))

In [14]:
tup9=('asif',25,[20,30,40],[20,30],{'john','david'},(99,90,98))
tup9

('asif', 25, [20, 30, 40], [20, 30], {'david', 'john'}, (99, 90, 98))

In [15]:
#tuple allowes multiple data structures
type(tup9)

tuple

In [16]:
len(tup9)

6

# tuple indexing

In [17]:
tup2[0]

10

In [18]:
tup2[1]

20

In [19]:
tup2[2]

30

In [20]:
tup4[0]

'one'

In [21]:
tup4[1]

'two'

In [22]:
tup4[2]

'three'

In [23]:
tup5[5]

IndexError: tuple index out of range

In [24]:
tup[4]

NameError: name 'tup' is not defined

In [25]:
tup5[4]

IndexError: tuple index out of range

In [26]:
tup5[3]

4.55

In [27]:
tup5

(1.45, 2.44, 3.55, 4.55)

In [28]:
tup6

('john ', 'job', (1, 2, 3, 4), (2.34, 23.4, 3.45))

In [29]:
tup6[0][1]

'o'

In [30]:
tup6[0][0]

'j'

In [31]:
tup6[0][2]
tup6[0][3]

'n'

In [32]:
tup6[0][2]

'h'

In [33]:
tup6[1][2]

'b'

In [34]:
tup6[3][3]

IndexError: tuple index out of range

In [35]:
tup6[2][3]

4

# Type slicing

In [36]:
tup6[-1]

(2.34, 23.4, 3.45)

In [37]:
tup2[-1]

30

In [38]:
tup8[-1]

7

In [39]:
tup8

(2, 3, 4, 5, 6, 7)

In [40]:
tup[-2]

NameError: name 'tup' is not defined

In [41]:
tup8[-1]

7

In [42]:
tup8[-2]

6

In [43]:
tup7[-1]

'john'

In [44]:
tup7

(1, 2, 3, 4, 5, 1.34, 2.45, 3.45, 'nit', 'john')

In [45]:
tup7[-3]

3.45

In [46]:
tup7

(1, 2, 3, 4, 5, 1.34, 2.45, 3.45, 'nit', 'john')

In [47]:
mytuple=('one','two','three','four','five','six','seven','eight','nine')
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine')

In [48]:
mytuple[0:3]

('one', 'two', 'three')

In [49]:
mytuple[2:5]

('three', 'four', 'five')

In [50]:
mytuple[:3]

('one', 'two', 'three')

In [51]:
mytuple[2:]

('three', 'four', 'five', 'six', 'seven', 'eight', 'nine')

In [52]:
mytuple[:6]

('one', 'two', 'three', 'four', 'five', 'six')

In [53]:
mytuple[-1:]

('nine',)

In [54]:
mytuple[-3:]

('seven', 'eight', 'nine')

In [55]:
mytuple[-2:]

('eight', 'nine')

In [56]:
mytuple[-1:-9]

()

In [57]:
mytuple[:-1]

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [58]:
mytuple[::2]

('one', 'three', 'five', 'seven', 'nine')

In [59]:
mytuple[::3]

('one', 'four', 'seven')

In [60]:
mytuple[::-1]

('nine', 'eight', 'seven', 'six', 'five', 'four', 'three', 'two', 'one')

# Remove and change items

In [61]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine')

In [62]:
del mytuple[0]

TypeError: 'tuple' object doesn't support item deletion

In [63]:
mytuple[0]=1

TypeError: 'tuple' object does not support item assignment

# loop through a tuple

In [64]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine')

In [65]:
for i in mytuple:
    print(i)

one
two
three
four
five
six
seven
eight
nine

In [66]:
for i in enumerate(mytuple):
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')
(8, 'nine')

# tuple membership

In [67]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine')

In [68]:
'one' in mytuple

True

In [69]:
'three' in mytuple

True

In [70]:
'five' in mytuple

True

In [73]:
if 'three' in mytuple:
    print("three is present in mytuple")
else:
    print("three is not in the mytuple ")

three is present in mytuple

In [74]:
if 'eleven' in mytuple:
    print("eleven is present in mytuple")
else:
    print("eleven is not present in mytuple")

eleven is not present in mytuple

# index position

In [75]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine')

In [76]:
mytuple.index('one')

0

In [77]:
mytuple.index('three')

2

In [79]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine')

In [80]:
mytuple.index('one')

0

In [81]:
mytuple2=(43,34, 45,65)
sorted(mytuple2)

[34, 43, 45, 65]

In [82]:
sorted(mytuple2, reverse=true)

NameError: name 'true' is not defined

In [83]:
sorted(mytuple2, reverse=True)

[65, 45, 43, 34]